// Breakpoints

$breakpoint-md: 600px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1800px;
$breakpoint-xxxl: 2100px;

// Colors

$white: #fff;
$black: #000;
$red: #e12e2e;
$blue: #2e69e1;
$gold: #d59538;
$purple: #8852cd;
$green: #24cca6;
